body {
    font-family: 'Roboto', sans-serif;
    color: darkblue;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    align-items: baseline;
    border-bottom: solid;
    border-bottom-color: darkblue;
    display: flex;
    flex-direction: row;
    /*padding-bottom: 5px;*/
    width: 100%;
}

.logoMain {
    width: 30%;
}

.logo {
    /*display: block;*/
    height: 65px;
    width: 65px;
}

.nameMain {
    width: 70%;
}

.name {
    font-size: 30px;
    font-weight: 200;
    padding: 5px 0 0 10px;
    margin: 0;
    text-align: right;
}

.title {
    font-size: 15px;
    margin: 0;
    padding: 0 0 5px 10px;
    text-align: right;
}

.pictureMain {
    /*height: 200px;*/
    /*padding: 10px 0 10px 0;*/
    /*!*margin: auto;*!*/
    /*width: 100%;*/
    width: 100%;
    display: flex;
}

.projectHeader {
    /*display: flex;*/
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    width: 100%;
}

.projectItems {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
}

a {
    color: darkblue;
    font-size: 10px;
    padding: 1.5em;
    text-align: center;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.project {
    margin: 10px 0 10px 0;
}

.projectName {
    font-size: 20px;
    font-weight: 200;
    margin: 5px 0 5px 0;
    text-align: center;
}

.projectPicture {
    display: block;
    margin: auto;
    width: 40%;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}

@media all and (min-width: 600px) {
    .logo {
        /*display: block;*/
        height: 100px;
        width: 100px;
        padding: 4px;
    }

    .name {
        font-size: 45px;
        font-weight: 200;
        padding: 5px 0 0 10px;
        margin: 0;
        text-align: right;
    }

    .title {
        font-size: 20px;
        margin: 0;
        padding: 0 0 5px 10px;
        text-align: right;
    }

    .projectHeader {
        display: flex;
        font-size: 25px;
        font-weight: 200;
        text-align: left;
        width: 100%;
    }


    .projectItems {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-around;
        margin: 5px 0 5px 0;
    }

    .picture {
        height: 400px;
        padding: 10px 0 10px 0;
        margin: auto;
        width: 100%;
    }


    a {
        color: darkblue;
        font-size: 15px;
        padding: 1.5em;
        text-align: center;
        text-decoration: none;
        overflow-wrap: break-word;
    }
}
